/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#hero-d-2149 {
		/* 300px - 400px on top - leaving extra space for the navigation */
		/* 60px - 100px on bottom */
		/* padding: 0 0 clamp(3.75rem, 7.5vw, 6.25rem) 0; */
		/* prevents the topper line from causing an overflow */
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	#hero-d-2149 .cs-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#hero-d-2149 .cs-content {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--darkBackground);
	}
	#hero-d-2149 .cs-title {
		/* 39px - 61px */
		font-size: clamp(1.4375rem, 3vw, 2rem);
		font-family: var(--fontHeader);
		font-weight: 900;
	}
	#hero-d-2149 .cs-title,
	#hero-d-2149 .cs-text {
		color: var(--bodyTextColorWhite);
		max-width: 80rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	#hero-d-2149 .cs-topper {
		color: var(--secondary);
		font-family: var(--fontHeader);
		font-size: clamp(1.5rem, 2.5vw, 2rem);
		text-align: center;
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#hero-d-2149 .cs-text {
		/* 16px - 20px */
		font-size: clamp(1rem, 2vw, 1.25rem);
		margin-bottom: 2rem;
		opacity: 0.8;
	}
	#hero-d-2149 .cs-button-solid {
		font-size: 1rem;
		font-weight: 700;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-align: center;
		text-decoration: none;
		min-width: 12.5rem;
		margin: 0;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		/* 32px - 48px */
		padding: 0 clamp(2rem, 4vw, 3rem);
		background-color: var(--primary);
		color: var(--bodyTextColor);
		display: inline-block;
		position: relative;
		z-index: 1;
		transition: color 0.3s;
		margin-bottom: 4rem;
	}
	#hero-d-2149 .cs-button-solid:before {
		content: "";
		width: 0%;
		height: 100%;
		background: #ffffff;
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}
	#hero-d-2149 .cs-button-solid:hover {
		color: var(--headerColor);
	}
	#hero-d-2149 .cs-button-solid:hover:before {
		width: 100%;
	}
	#hero-d-2149 .cs-background {
		width: 100%;
		aspect-ratio: 2040/618;
		min-height: 15rem;
		position: relative;
		display: block;
		z-index: -2;
	}

	#hero-d-2149 .cs-desktop-only {
		display: none;
	}
	#hero-d-2149 .cs-background img {
		width: 33%;
		object-fit: cover;
		object-position: top;
		height: 100%;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#hero-d-2149 .cs-topper {
		top: 30%;
	}
	#hero-d-2149 .cs-background img {
		width: 20%;
		object-fit: cover;
		object-position: top;
		height: 100%;
	}
	#hero-d-2149 .cs-desktop-only {
		display: unset;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
}
