/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#custom-sbsr-c {
		padding: var(--sectionPadding);
		position: relative;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background: var(--primary);
	}
	#custom-sbsr-c .cs-background {
		width: 100%;
		height: 100%;
		background-blend-mode: multiply;
		display: block;
		z-index: -1;
		margin-top: 2rem;
	}
	#custom-sbsr-c .cs-background:before {
		/* background color overlay */
		display: block;
		height: 100%;
		width: 100%;
		background: var(--darkBackground);
		opacity: 0.8;
		z-index: 1;
	}
	#custom-sbsr-c .cs-background img {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		/* Makes img tag act as a background image */
		object-fit: cover;
		/* positions the image inside the parent */
	}
	#custom-sbsr-c .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#custom-sbsr-c .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		max-width: 32.3125rem;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
	}
	#custom-sbsr-c .cs-title {
		color: var(--bodyTextColor);
		margin: 1rem;
	}
	#custom-sbsr-c .cs-text {
		color: var(--bodyTextColor);
		margin-bottom: 1rem;
	}
	#custom-sbsr-c .cs-list {
		list-style: circle;
	}
	#custom-sbsr-c .cs-h3 {
		color: var(--bodyTextColor);
		margin-bottom: 0;
		font-weight: semibold;
	}
	#custom-sbsr-c .cs-button-solid {
		font-weight: normal;
	}
	#custom-sbsr-c .cs-text:last-of-type {
		margin-bottom: 2rem;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#custom-sbsr-c .cs-background {
		/* clips the black slant so it doesnt overflow */
		overflow: hidden;
		margin: unset;
	}
	#custom-sbsr-c .cs-container {
		min-height: 24rem;
	}
	#custom-sbsr-c .cs-content {
		padding-left: 2rem;
	}
	#custom-sbsr-c .cs-background:before {
		width: 40%;
		opacity: 1;
	}

	#custom-sbsr-c .cs-background img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		/* Makes img tag act as a background image */
		object-fit: cover;
		/* positions the image inside the parent */
	}
	#custom-sbsr-c .cs-container {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	#custom-sbsr-c .cs-content {
		text-align: left;
		align-items: flex-start;
		width: 50%;
	}
	#custom-sbsr-c .cs-text,
	#custom-sbsr-c .cs-title {
		margin-left: 0;
	}
}
