:root {
	--primary: #71ae60;
	--secondary: #fec107;
	--secondarySemiTransparent: rgba(254, 193, 7, 0.7);
	--darkBackground: #414f65;
	--headerColor: #1a1a1a;
	--headerColorWhite: #fff;
	--bodyTextColor: #484848;
	--bodyTextColorWhite: #fafbfc;
	--primaryGreen: #556b41;
	--primaryRed: #9e442e;
	--corner-radius: 12px;
	--navColor: #d5d7b7;
	/* 13px - 16px */
	--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
	/* 31px - 49px */
	--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
	--bodyFontSize: 1rem;
	/* 60px - 100px top and bottom */
	--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem);
	--fontBody: "Merriweather", serif;
	--fontHeader: "Montserrat", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Merriweather", serif;
}

*,
*:before,
*:after {
	/* prevents padding from affecting height and width */
	box-sizing: border-box;
}
.cs-topper {
	font-size: var(--topperFontSize);
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: inherit;
	letter-spacing: 0.1em;
	font-weight: 700;
	color: var(--primary);
	margin-bottom: 0.25rem;
	display: block;
	font-family: var(--fontHeader);
}

.cs-title {
	font-weight: 900;
	font-family: var(--fontHeader);
	display: block;
	font-size: var(--headerFontSize);
}

.cs-text {
	font-size: var(--bodyFontSize);
	line-height: 1.5em;
	text-align: inherit;
	width: 100%;
	max-width: 40.625rem;
	margin: 0;
	color: var(--bodyTextColor);
}

.mobile {
	display: none;
}
.desktop {
	display: flex;
}

.cs-button-solid {
	font-size: 1rem;
	/* 46px - 56px */
	line-height: clamp(2.875rem, 5.5vw, 3.5rem);
	text-decoration: none;
	font-weight: 700;
	margin: 0;
	color: #000;
	padding: 0 1.5rem;
	background-color: var(--primary);
	border-radius: 12px;
	display: inline-block;
	position: relative;
	z-index: 1;
	border: none;
	min-width: 9.375rem;
	text-align: center;
	font-family: var(--fontHeader);
}
.cs-button-solid.secondary {
	background-color: var(--secondary);
}
.cs-button-solid:before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 0%;
	background: var(--secondary);
	opacity: 1;
	top: 0;
	left: 0;
	z-index: -1;
	transition: width 0.3s;
	border-radius: 12px;
}
.cs-button-solid.secondary:before {
	background: #ec6345;
}
.cs-button-solid:hover:before {
	width: 100%;
	border-radius: 12px;
}

.cs-about-banner {
	position: relative;
	top: 60%;
	left: 50%;
	translate: -50% -50%;
	width: 80%;
	aspect-ratio: 3837/620;
}

.cs-banner {
	content: "";
	width: 100%;
	height: clamp(20rem, 40vw, 40rem);
	background: #fff3ec;
	opacity: 0.9;
	position: relative;
	display: block;
	top: 0;
	left: 0;
}
.cs-about-background {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	opacity: 0.15;
	top: 0;
	left: 0;
	z-index: -2;
}
.cs-about-background img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	/* makes the top of the image start at the top of the parent */
	object-position: top;
}

.market-info-banner {
	display: flex;
	background-color: var(--primaryGreen);
	color: var(--bodyTextColorWhite);
	font-size: var(--headerFontSize);
	align-items: center;
	justify-content: center;
}
.bow-container {
	min-height: clamp(100px, 100vw, 200px);
	height: 100%;
	aspect-ratio: 455/428;
	position: relative;
}

.header {
	font-family: var(--fontHeader);
	color: var(--headerColor);
	font-size: var(--headerFontSize);
	font-weight: 900;
	justify-self: center;
	background-color: #ec6e45;
	padding: 2rem;
	margin-top: 1rem;
	border-radius: 12px;
	line-height: 1.2em;
	text-align: inherit;
	text-align: center;
}
.video-container {
	width: 100%;
	height: auto;
	background-color: var(--primary);
	height: clamp(12rem, 60vw, 32rem);
}
.video {
	width: 100%;
	height: 100%;
	border: none;
}
.divider {
	width: 100%;
	height: 4px;
	background-color: var(--darkBackground);
	margin: 0;
	padding: 0;
}
/* CAMP */
.policy-section {
	text-align: center;
	width: 100%;
	padding: 2rem 0;
	background-color: var(--primary);
}
.policy-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
}
@media (max-width: 767px) {
	.mobile {
		display: block;
	}
	.policy-links {
		flex-direction: column;
	}
}
