/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#sbsr-2217b {
		padding: var(--sectionPadding);
		padding-top: 1rem;
		background-color: #fdfaf8;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	#sbsr-2217b .cs-container {
		width: 100%;
		/* changes to 1280px at desktop */
		max-width: 36.5rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#sbsr-2217b .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: left;
		width: 100%;
		max-width: 36.625rem;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: flex-start;
	}
	#sbsr-2217b .cs-text {
		margin-bottom: 1.5rem;
	}
	#sbsr-2217b .cs-list {
		margin: 0 0 2rem 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* 24px - 32px */
		gap: clamp(1.5rem, 3vw, 2rem);
	}
	#sbsr-2217b .cs-li {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1.5rem;
	}
	#sbsr-2217b .cs-icon-wrapper {
		/* 60px - 80px */
		width: clamp(3.75rem, 7vw, 5rem);
		height: clamp(3.75rem, 7vw, 5rem);
		border: 1px solid #bababa;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
	}
	#sbsr-2217b .cs-icon {
		width: 2rem;
		height: auto;
		display: block;
	}
	#sbsr-2217b .cs-h3 {
		/* 20px - 25px */
		font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
		margin: 0 0 0.75rem 0;
		color: var(--headerColor);
	}
	#sbsr-2217b .cs-li-text {
		/* 14px - 16px */
		font-size: clamp(0.875rem, 1.8vw, 1rem);
		line-height: 1.5em;
		text-align: left;
		margin: 0;
		color: var(--bodyTextColor);
	}
	#sbsr-2217b .cs-image-group {
		/* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
		font-size: min(2.32vw, 0.74em);
		width: 39.375em;
		height: 30.9375em;
		display: block;
		position: relative;
		z-index: 1;
	}
	#sbsr-2217 .cs-image-group::before {
		content: "";
		width: 22.375em;
		height: auto;
		background: var(--secondary);
		display: block;
		position: absolute;
		top: 9em;
		bottom: 11.125em;
		left: 5.5em;
	}
	#sbsr-2217b .cs-picture {
		position: absolute;
	}
	#sbsr-2217b .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
		position: absolute;
		top: 0;
		left: 0;
	}
	#sbsr-2217b .cs-picture1 {
		width: 50%;
		aspect-ratio: 413/323;
		border: 4px solid #ffffff;
		top: 0;
		left: 10%;
	}
	#sbsr-2217b .cs-picture2 {
		width: 60%;
		aspect-ratio: 1621/1108;
		border: 4px solid #ffffff;
		bottom: 0;
		right: 10%;
	}

	#sbsr-2217b .cs-graphic {
		/* 131px - 255px */
		width: clamp(5.8175rem, 15vw, 15.9375rem);
		height: auto;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#sbsr-2217b .cs-container {
		max-width: 80rem;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: stretch;
	}
	#sbsr-2217b .cs-content {
		width: 47%;
		align-self: center;
	}
	#sbsr-2217b .cs-li {
		align-items: center;
	}
	#sbsr-2217b .cs-image-group {
		font-size: min(1.2vw, 1em);
		flex: none;
		order: 2;
	}
	#sbsr-2217b .cs-picture2 {
		top: unset;
	}
}
