/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#sbsr-2217 {
		padding: var(--sectionPadding);
		background-color: #fdfaf8;
		overflow: hidden;
		position: relative;
		z-index: 1;
		padding-bottom: 1rem;
	}
	#sbsr-2217 .cs-container {
		width: 100%;
		/* changes to 1280px at desktop */
		max-width: 36.5rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
	}
	#sbsr-2217 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: left;
		width: 100%;
		max-width: 36.625rem;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: flex-start;
	}
	#sbsr-2217 .cs-text {
		margin-bottom: 1.5rem;
	}
	#sbsr-2217 .cs-list {
		margin: 0 0 2rem 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/* 24px - 32px */
		gap: clamp(1.5rem, 3vw, 2rem);
	}
	#sbsr-2217 .cs-li {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1.5rem;
	}
	#sbsr-2217 .cs-icon-wrapper {
		/* 60px - 80px */
		width: clamp(3.75rem, 7vw, 5rem);
		height: clamp(3.75rem, 7vw, 5rem);
		border: 1px solid #bababa;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
	}
	#sbsr-2217 .cs-icon {
		width: 2rem;
		height: auto;
		display: block;
	}
	#sbsr-2217 .cs-h3 {
		/* 20px - 25px */
		font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
		margin: 0 0 0.75rem 0;
		color: var(--headerColor);
	}
	#sbsr-2217 .cs-li-text {
		/* 14px - 16px */
		font-size: clamp(0.875rem, 1.8vw, 1rem);
		line-height: 1.5em;
		text-align: left;
		margin: 0;
		color: var(--bodyTextColor);
	}
	#sbsr-2217 .cs-image-group {
		/* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
		font-size: min(2.32vw, 0.74em);
		width: 39.375em;
		height: 30.9375em;
		display: block;
		position: relative;
		z-index: 1;
		max-height: 633px;
	}
	#sbsr-2217 .cs-image-group::before {
		content: "";
		width: 22.375em;
		height: auto;
		background: var(--primary);
		display: block;
		position: absolute;
		top: 9em;
		bottom: 11.125em;
		left: 5.5em;
	}
	#sbsr-2217 .cs-picture {
		position: absolute;
	}
	#sbsr-2217 .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	#sbsr-2217 .cs-picture1 {
		width: 55%;
		aspect-ratio: 1699/1128;
		bottom: 50%;
		left: 0;
		border: 4px solid #ffffff;
	}
	#sbsr-2217 .cs-picture1 img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	#sbsr-2217 .cs-picture2 {
		width: 60%;
		aspect-ratio: 1591/1101;
		border: 4px solid #ffffff;
		top: 40%;
		right: 0;
	}
	#sbsr-2217 .cs-picture3 {
		width: 13.625em;
		height: 9.6875em;
		top: 5.25em;
		right: 4.6875em;
	}
	#sbsr-2217 .cs-graphic {
		/* 131px - 255px */
		width: clamp(5.8175rem, 15vw, 15.9375rem);
		height: auto;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	#sbsr-2217 .cs-button-solid {
		font-size: 1rem;
		font-weight: 700;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-align: center;
		text-decoration: none;
		min-width: 9.375rem;
		margin: 0;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		padding: 0 1.5rem;
		background-color: var(--primary);
		color: #fff;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	#sbsr-2217 .cs-button-solid:before {
		content: "";
		width: 0%;
		height: 100%;
		background: #000;
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}
	#sbsr-2217 .cs-button-solid:hover:before {
		width: 100%;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#sbsr-2217 .cs-container {
		max-width: 80rem;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		gap: clamp(3rem, 6vw, 4rem);
	}
	#sbsr-2217 .cs-content {
		width: 47%;
		align-self: center;
	}
	#sbsr-2217 .cs-li {
		align-items: center;
	}
	#sbsr-2217 .cs-image-group {
		font-size: min(1.2vw, 1em);
		height: auto;
		flex: none;
		order: 2;
	}
}
