/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#pricing-1842 {
		padding: var(--sectionPadding);
		position: relative;
		z-index: 1;
		background-color: #faf6f2;
	}
	#pricing-1842:before {
		content: "";
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: 0.03;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
	}
	#pricing-1842 .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
		position: relative;
	}
	#pricing-1842 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
		position: relative;
	}
	#pricing-1842 .cs-topper {
		color: var(--primary);
	}
	#pricing-1842 .cs-title {
		max-width: none;
		margin: 0;
	}
	#pricing-1842 .cs-card-group {
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		/* 16px - 60px */
		gap: clamp(1rem, 2vw, 3.75rem);
		position: relative;
	}
	#pricing-1842 .cs-item {
		text-align: center;
		list-style: none;
		width: 100%;
		max-width: 25.8125rem;
		margin: 0;
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		/* 60px - 80px top *
            /* 32px - 40px left & right */
		padding: clamp(3.75rem, 8vw, 5rem) clamp(2rem, 4vw, 2.5rem);
		overflow: hidden;
		background-color: #fff;
		border-radius: 30.625rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	#pricing-1842 .cs-item:before {
		/* Background color */
		content: "";
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: 0.05;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#pricing-1842 .cs-item:after {
		/* border color */
		content: "";
		border: 8px solid var(--primary);
		box-sizing: border-box;
		border-radius: 30.625rem;
		position: absolute;
		display: block;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		z-index: 10;
		/* keeps mouse from interacting with it */
		pointer-events: none;
	}
	#pricing-1842 .cs-item.cs-popular {
		background-color: var(--primary);
	}
	#pricing-1842 .cs-item.cs-popular:after {
		border-color: #fff;
		opacity: 0.7;
	}
	#pricing-1842 .cs-item.cs-popular .cs-ul:before {
		background-color: #fff;
		opacity: 0.7;
	}
	#pricing-1842 .cs-item.cs-popular .cs-package {
		background-color: #fff;
	}
	#pricing-1842 .cs-item.cs-popular .cs-price,
	#pricing-1842 .cs-item.cs-popular .cs-li {
		color: var(--bodyTextColorWhite);
	}
	#pricing-1842 .cs-item.cs-popular .cs-li.cs-disabled {
		filter: brightness(550%);
	}
	#pricing-1842 .cs-package {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.2em;
		text-align: inherit;
		/* 16px - 20px bottom */
		margin: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		padding: 1rem 1.5rem;
		overflow: hidden;
		color: var(--tertiary);
		border-radius: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
	}

	#pricing-1842 .cs-price {
		/* 31px - 39px */
		font-size: clamp(1.25rem, 2vw, 2rem);
		font-weight: 900;
		line-height: 1.2em;
		text-align: inherit;
		margin: 0;
		color: var(--headerColor);
	}
	#pricing-1842 .cs-ul {
		width: 100%;
		/* 32px - 40px */
		margin: clamp(2rem, 4vw, 2.5rem) 0 auto;
		padding: 1.5rem 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	#pricing-1842 .cs-ul:before {
		content: "";
		width: 100%;
		height: 1px;
		background: var(--primary);
		opacity: 0.3;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	#pricing-1842 .cs-li {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5em;
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
		color: var(--bodyTextColor);
	}
	#pricing-1842 .cs-li.cs-disabled {
		opacity: 0.5;
	}
	#pricing-1842 .cs-button-solid {
		font-size: 1rem;
		font-weight: 700;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-align: center;
		text-decoration: none;
		min-width: 9.375rem;
		margin: 0;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		padding: 0 1.5rem;
		background-color: var(--primary);
		color: #fff;
		border-radius: 0.25rem;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	#pricing-1842 .cs-button-solid:before {
		content: "";
		width: 0%;
		height: 100%;
		background: #000;
		opacity: 1;
		border-radius: 0.25rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}
	#pricing-1842 .cs-button-solid:hover:before {
		width: 100%;
	}
	#pricing-1842 .cs-button-solid {
		margin-top: 2rem;
		padding: 0 3rem;
		border-radius: 3.75rem;
		overflow: hidden;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#pricing-1842 .cs-item {
		width: 48%;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#pricing-1842 .cs-card-group {
		flex-wrap: nowrap;
	}
}
