/* [project]/src/components/stitches/who-we-are/sbsr-2217c/sbsr-2217c.css [client] (css) */
@media only screen and (width >= 0) {
  #sbsr-2217c {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    z-index: 1;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
  }

  #sbsr-2217c .cs-container {
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
  }

  #sbsr-2217c .cs-content {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
  }

  #sbsr-2217c .cs-text {
    margin-bottom: 1.5rem;
  }

  #sbsr-2217c .cs-list {
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(1.5rem, 3vw, 2rem);
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
  }

  #sbsr-2217c .cs-li {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  #sbsr-2217c .cs-icon-wrapper {
    border: 1px solid #bababa;
    flex: none;
    justify-content: center;
    align-items: center;
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    display: flex;
  }

  #sbsr-2217c .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }

  #sbsr-2217c .cs-h3 {
    text-align: left;
    color: var(--headerColor);
    margin: 0 0 .75rem;
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
  }

  #sbsr-2217c .cs-li-text {
    text-align: left;
    color: var(--bodyTextColor);
    margin: 0;
    font-size: clamp(.875rem, 1.8vw, 1rem);
    line-height: 1.5em;
  }

  #sbsr-2217c .cs-image-group {
    z-index: 1;
    width: 39.375em;
    height: 40.9375em;
    font-size: min(2.32vw, .74em);
    display: block;
    position: relative;
  }

  #sbsr-2217c .cs-picture {
    position: absolute;
  }

  #sbsr-2217c .cs-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #sbsr-2217c .cs-picture1 {
    aspect-ratio: 640 / 797;
    z-index: 1;
    border: 4px solid #fff;
    height: auto;
    top: 0;
    bottom: 17.5625em;
    left: 0;
  }

  #sbsr-2217c .cs-picture2 {
    aspect-ratio: 640 / 498;
    border: 4px solid #fff;
    height: auto;
    top: 16.9375em;
    bottom: 0;
    right: 0;
  }

  #sbsr-2217c .cs-picture3 {
    width: 13.625em;
    height: 9.6875em;
    top: 5.25em;
    right: 4.6875em;
  }

  #sbsr-2217c .cs-graphic {
    z-index: -1;
    width: clamp(5.8175rem, 15vw, 15.9375rem);
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  #sbsr-2217c .cs-button-solid {
    text-align: center;
    box-sizing: border-box;
    background-color: var(--primary);
    color: #fff;
    z-index: 1;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  #sbsr-2217c .cs-button-solid:before {
    content: "";
    opacity: 1;
    z-index: -1;
    background: #000;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  #sbsr-2217c .cs-button-solid:hover:before {
    width: 100%;
  }
}

@media only screen and (width >= 64rem) {
  #sbsr-2217c .cs-container {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 80rem;
  }

  #sbsr-2217c .cs-picture1 {
    max-height: 50%;
  }

  #sbsr-2217c .cs-picture2 {
    max-height: 40%;
  }

  #sbsr-2217c .cs-content {
    align-self: center;
    width: 47%;
  }

  #sbsr-2217c .cs-li {
    align-items: center;
  }

  #sbsr-2217c .cs-image-group {
    flex: none;
    order: 2;
    height: auto;
    font-size: min(1.2vw, 1em);
  }
}

@media only screen and (width >= 80rem) {
  #sbsr-2217c .cs-picture1, #sbsr-2217c .cs-picture2 {
    max-height: unset;
  }
}

/*# sourceMappingURL=src_components_stitches_who-we-are_sbsr-2217c_sbsr-2217c_css_2bef753f._.single.css.map*/