/* [project]/src/components/stitches/who-we-are/meet-team-1141/meet-team-1141.css [client] (css) */
@media only screen and (width >= 0) {
  #meet-team-1141 {
    padding: calc(var(--sectionPadding) / 4);
    background-color: var(--darkBackground);
    overflow: hidden;
  }

  #meet-team-1141 .cs-container {
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    width: 100%;
    max-width: 34.375rem;
    margin: auto;
    display: flex;
  }

  #meet-team-1141 .cs-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
  }

  #meet-team-1141 .cs-topper {
    font-size: var(--topperFontSize);
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    color: var(--primary);
    margin-bottom: .25rem;
    font-weight: 700;
    line-height: 1.2em;
    display: block;
  }

  #meet-team-1141 .cs-flex {
    width: 100%;
  }

  #meet-team-1141 .cs-title {
    font-size: var(--headerFontSize);
    text-align: inherit;
    width: 100%;
    max-width: 43.75rem;
    color: var(--headerColorWhite);
    text-align: center;
    border-bottom: var(--primary) 4px solid;
    margin: 0 0 1rem;
    font-weight: 700;
    line-height: 1.2em;
    position: relative;
  }

  #meet-team-1141 .cs-subtitle {
    font-size: calc(var(--headerFontSize) * .75);
    font-weight: 700;
    font-family: var(--fontHeader);
    text-align: inherit;
    width: 100%;
    color: var(--headerColorWhite);
    text-align: center;
    margin: 0 0 1rem;
    line-height: 1.2em;
    position: relative;
  }

  #meet-team-1141 .cs-button-solid {
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    z-index: 1;
    box-sizing: border-box;
    border-radius: .25rem;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  #meet-team-1141 .cs-button-solid:before {
    content: "";
    opacity: 1;
    z-index: -1;
    background: #000;
    border-radius: .25rem;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  #meet-team-1141 .cs-button-solid:hover:before {
    width: 100%;
  }

  #meet-team-1141 .cs-button-solid {
    flex: none;
  }

  #meet-team-1141 .cs-card-group {
    flex-direction: column;
    justify-content: center;
    gap: clamp(1rem, 2.3vw, 1.25rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
  }

  #meet-team-1141 .cs-item {
    background-color: #f1f1f4;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: clamp(1rem, 1.5vw, 2rem);
    list-style: none;
    display: flex;
    position: relative;
  }

  #meet-team-1141 .cs-item:hover .cs-picture:before, #meet-team-1141 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }

  #meet-team-1141 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }

  #meet-team-1141 .cs-item:hover .cs-info {
    background-color: var(--primary);
  }

  #meet-team-1141 .cs-item:hover .cs-name {
    color: var(--secondary);
  }

  #meet-team-1141 .cs-item:hover .cs-job {
    color: var(--bodyTextColorWhite);
  }

  #meet-team-1141 .cs-picture {
    aspect-ratio: .805897;
    z-index: 1;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    margin: 0 0 .5rem;
    display: block;
    position: relative;
    overflow: hidden;
  }

  #meet-team-1141 .cs-picture img {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: transform .7s;
    position: absolute;
    top: 0;
    left: 0;
  }

  #meet-team-1141 .cs-info {
    box-sizing: border-box;
    z-index: 10;
    background-color: #f7f7f7;
    border-radius: .75rem;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: -2.625rem 0 0;
    padding: 1rem;
    transition: background-color .3s;
    display: flex;
    position: relative;
  }

  #meet-team-1141 .cs-name {
    color: var(--headerColor);
    margin: 0 0 .25rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    transition: color .3s;
    display: block;
  }

  #meet-team-1141 .cs-job {
    color: var(--bodyTextColor);
    margin-right: 0;
    font-size: clamp(.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    transition: color .3s;
    display: block;
  }
}

@media only screen and (width >= 37.5rem) {
  #meet-team-1141 {
    padding: var(--sectionPadding);
  }

  #meet-team-1141 .cs-card-group {
    flex-flow: wrap;
    align-items: stretch;
  }

  #meet-team-1141 .cs-item {
    width: 100%;
  }

  #meet-team-1141 .cs-picture {
    height: 25.4375rem;
    aspect-ratio: initial;
  }
}

@media only screen and (width >= 56.25rem) {
  #meet-team-1141 .cs-container {
    justify-content: space-between;
    max-width: 80rem;
  }

  #meet-team-1141 .cs-content {
    flex-direction: column;
    width: 85%;
  }

  #meet-team-1141 .cs-card-group {
    flex-wrap: nowrap;
    justify-content: center;
  }

  #meet-team-1141 .cs-item {
    width: 100%;
  }
}

/*# sourceMappingURL=src_components_stitches_who-we-are_meet-team-1141_meet-team-1141_css_2bef753f._.single.css.map*/