/* [project]/src/components/stitches/home/sbs-2369/sbs-2369.css [client] (css) */
@media only screen and (width >= 0) {
  #sbs-2369 {
    padding: var(--sectionPadding);
    z-index: 1;
    background-color: #fbf5f1;
    position: relative;
    overflow: hidden;
  }

  #sbs-2369 .cs-container {
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    width: 100%;
    max-width: 49rem;
    margin: auto;
    display: flex;
  }

  #sbs-2369 .cs-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
  }

  #sbs-2369 .cs-content {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 43.375rem;
    display: flex;
    overflow: hidden;
  }

  #sbs-2369 .cs-li-link {
    color: var(--bodyTextColor);
    background-color: var(--secondarySemiTransparent);
    font-family: var(--fontHeader);
    text-transform: uppercase;
    border-radius: 8px;
    flex: 1;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 700;
    text-decoration: none;
    display: flex;
  }

  #sbs-2369 .cs-li-link:hover {
    background-color: var(--secondary);
    transition: all .3s;
  }

  #sbs-2369 .cs-header {
    text-align: center;
    color: var(--headerColor);
    margin: 0 0 2rem;
    font-size: clamp(1.25rem, 3vw, 1.9375rem);
    font-weight: 700;
    line-height: 1.2em;
  }

  #sbs-2369 .cs-arrow {
    width: 9.625rem;
    height: auto;
    margin-bottom: 1.25rem;
    display: block;
  }

  #sbs-2369 .cs-topper {
    text-align: center;
    margin: auto;
  }

  #sbs-2369 .cs-title {
    text-align: center;
    z-index: 1;
    margin: auto auto 2rem;
    padding-bottom: 1rem;
    font-size: clamp(1.5rem, 2.75vw, 2.5rem);
    position: relative;
  }

  #sbs-2369 .cs-title:before {
    content: "";
    opacity: 1;
    background: #d2d8df;
    width: 100vw;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #sbs-2369 .cs-text {
    margin-bottom: 1rem;
  }

  #sbs-2369 .cs-text:last-of-type {
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
  }

  #sbs-2369 .cs-ul {
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
  }

  #sbs-2369 .cs-li {
    font-size: var(--bodyFontSize);
    width: 100%;
    color: var(--bodyTextColor);
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    line-height: 1.5em;
    list-style: none;
    display: flex;
  }

  #sbs-2369 .cs-icon {
    flex: none;
    width: 1.1875rem;
    height: auto;
    margin-top: 3px;
    display: block;
  }

  #sbs-2369 .cs-image-group {
    z-index: 1;
    order: 2;
    width: 32.625em;
    height: auto;
    font-size: min(2.8vw, .75rem);
    position: relative;
  }

  #sbs-2369 .cs-picture, #sbs-2369 .cs-picture img {
    width: 100%;
    height: auto;
    display: block;
  }

  #sbs-2369 .cs-flower {
    z-index: -1;
    pointer-events: none;
    width: 75em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (width >= 75rem) {
  #sbs-2369 {
    padding: var(--sectionPadding);
  }

  #sbs-2369 .cs-container {
    z-index: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 80rem;
    position: relative;
  }

  #sbs-2369 .cs-content {
    align-items: flex-start;
    width: 50%;
    padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
  }

  #sbs-2369 .cs-topper, #sbs-2369 .cs-title {
    text-align: left;
    font-family: var(--fontHeader);
    margin: 0;
  }

  #sbs-2369 .cs-topper {
    color: var(--headerColor);
    margin-bottom: .25rem;
  }

  #sbs-2369 .cs-title {
    margin-bottom: 2rem;
  }

  #sbs-2369 .cs-image-group {
    order: -1;
    height: auto;
    font-size: min(1.2vw, 1rem);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  #sbs-2369 .cs-picture {
    z-index: 1;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    height: 100%;
    display: flex;
    position: relative;
  }

  #sbs-2369 .cs-picture img {
    width: auto;
    height: 100%;
  }

  #sbs-2369 .cs-flower {
    width: 80vw;
    max-width: 56.25rem;
  }
}

/*# sourceMappingURL=src_components_stitches_home_sbs-2369_sbs-2369_css_2bef753f._.single.css.map*/