/* [project]/src/components/stitches/get-involved/sbs-g-2376/sbs-g-2376.css [client] (css) */
@media only screen and (width >= 0) {
  #sbs-g-2376 {
    padding: calc(var(--sectionPadding) * .25);
    background-color: var(--darkBackground);
    box-sizing: border-box;
  }

  #sbs-g-2376 .cs-container {
    background-color: #fff;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(2.5rem, 5vw, 3rem);
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: clamp(2rem, 8vw, 6.25rem) clamp(1rem, 3vw, 4rem);
    display: flex;
  }

  #sbs-g-2376 .cs-wrapper {
    flex-direction: column;
    gap: clamp(1rem, 2.3vw, 1.25rem);
    display: flex;
  }

  #sbs-g-2376 .cs-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #sbs-g-2376 .cs-text {
    max-width: 62rem;
  }

  #sbs-g-2376 .cs-content2 .cs-text {
    margin-bottom: 1rem;
  }

  #sbs-g-2376 .cs-content2 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #sbs-g-2376 .cs-flex {
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 4vw, 2rem);
    width: 100%;
    padding: clamp(1.5rem, 4vw, 2rem) clamp(1rem, 3vw, 2rem);
    display: flex;
  }

  #sbs-g-2376 .cs-h3 {
    color: var(--headerColor);
    border-bottom: 1px solid #d2d8df;
    margin: 0 0 clamp(1rem, 3vw, 2rem);
    padding-bottom: 2rem;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  #sbs-g-2376 .cs-ul {
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
  }

  #sbs-g-2376 .cs-li {
    font-size: var(--bodyFontSize);
    width: 100%;
    color: var(--bodyTextColor);
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    line-height: 1.5em;
    list-style: none;
    display: flex;
  }

  #sbs-g-2376 .cs-icon {
    flex: none;
    width: 1.1875rem;
    height: auto;
    margin-top: 3px;
    display: block;
  }

  #sbs-g-2376 .cs-link {
    font-size: var(--bodyFontSize);
    color: var(--secondary);
    z-index: 1;
    margin: 0;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    position: relative;
  }

  #sbs-g-2376 .cs-link:before {
    content: "";
    opacity: 1;
    background: currentColor;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #sbs-g-2376 .cs-picture {
    z-index: 1;
    border-radius: 1rem;
    order: -1;
    width: 100%;
    height: 75vw;
    max-height: 21.875rem;
    display: block;
    position: relative;
    overflow: hidden;
  }

  #sbs-g-2376 .cs-picture img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (width >= 48rem) {
  #sbs-g-2376 {
    padding: var(--sectionPadding);
  }

  #sbs-g-2376 .cs-flex {
    flex-direction: row;
    align-items: stretch;
  }

  #sbs-g-2376 .cs-flex:nth-child(2n) .cs-picture {
    order: -1;
  }

  #sbs-g-2376 .cs-picture {
    order: 2;
    width: 70vw;
    max-width: 33rem;
    height: auto;
    max-height: 100%;
  }
}

/*# sourceMappingURL=src_components_stitches_get-involved_sbs-g-2376_sbs-g-2376_css_2bef753f._.single.css.map*/