/* [project]/src/components/stitches/camp/faq-2216/faq-2216.css [client] (css) */
@media only screen and (width >= 0) {
  #faq-2216 {
    padding: calc(var(--sectionPadding) / 4);
    background-color: var(--darkBackground);
    position: relative;
    overflow: hidden;
  }

  #faq-2216 .cs-title {
    color: var(--bodyTextColorWhite);
  }

  #faq-2216 .cs-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
  }

  #faq-2216 .cs-topper {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 600;
  }

  #faq-2216 .cs-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #faq-2216 .cs-text {
    max-width: 50%;
    margin: 0 0 1rem;
  }

  #faq-2216 .cs-faq-group {
    box-sizing: border-box;
    background-color: #fbf5f1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem 1rem 5rem;
    display: flex;
    position: relative;
  }

  #faq-2216 .cs-faq-item {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    padding: 1.25rem;
    list-style: none;
  }

  #faq-2216 .cs-faq-item.active .cs-button {
    color: var(--primary);
  }

  #faq-2216 .cs-faq-item.active .cs-button:before {
    background-color: var(--primaryLight);
    transform: rotate(315deg);
  }

  #faq-2216 .cs-faq-item.active .cs-button:after {
    background-color: var(--primaryLight);
    transform: rotate(-315deg);
  }

  #faq-2216 .cs-faq-item.active .cs-item-p {
    opacity: 1;
    white-space: pre-line;
    height: auto;
    padding-top: 1rem;
  }

  #faq-2216 .cs-button {
    text-align: left;
    width: 100%;
    color: var(--headerColor);
    background: none;
    border: none;
    padding: 0;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: bold;
    line-height: 1.2em;
    transition: background-color .3s, color .3s;
    display: block;
    position: relative;
  }

  #faq-2216 .cs-button:hover {
    cursor: pointer;
  }

  #faq-2216 .cs-button:before {
    content: "";
    background-color: var(--headerColor);
    opacity: 1;
    transform-origin: 0;
    border-radius: 50%;
    width: .5rem;
    height: .125rem;
    transition: transform .5s;
    display: block;
    position: absolute;
    top: 45%;
    right: .25rem;
    transform: rotate(45deg);
  }

  #faq-2216 .cs-button:after {
    content: "";
    background-color: var(--headerColor);
    opacity: 1;
    transform-origin: 100%;
    border-radius: 50%;
    width: .5rem;
    height: .125rem;
    transition: transform .5s;
    display: block;
    position: absolute;
    top: 45%;
    right: .0625rem;
    transform: rotate(-45deg);
  }

  #faq-2216 .cs-button-text {
    width: 90%;
    display: block;
  }

  #faq-2216 .cs-item-p {
    text-align: left;
    width: 90%;
    max-width: 33.8125rem;
    height: 0;
    color: var(--bodyTextColor);
    opacity: 0;
    margin: 0;
    padding: 0;
    font-size: clamp(.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    transition: opacity .3s, padding-bottom .3s;
    overflow: hidden;
  }

  #faq-2216 .cs-wrapper {
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  #faq-2216 .cs-picture {
    aspect-ratio: 592 / 1059;
    z-index: 1;
    width: 90%;
    margin-top: -3rem;
    margin-left: auto;
    display: block;
    position: relative;
  }

  #faq-2216 .cs-picture img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (width >= 48rem) {
  #faq-2216 {
    padding: var(--sectionPadding);
  }

  #faq-2216 .cs-container {
    flex-direction: row;
    max-width: 80rem;
  }

  #faq-2216 .cs-title {
    max-width: 60%;
  }

  #faq-2216 .cs-content {
    text-align: left;
    align-items: flex-start;
  }

  #faq-2216 .cs-faq-group {
    background-color: #0000;
    flex: none;
    width: 60%;
    max-width: 39.375rem;
    padding: clamp(2rem, 6vw, 5rem) 0 clamp(2rem, 6vw, 5rem) clamp(2rem, 6vw, 5rem);
  }

  #faq-2216 .cs-wrapper {
    z-index: 1;
    flex-direction: row;
    gap: clamp(2rem, 4vw, 3.625rem);
    position: relative;
  }

  #faq-2216 .cs-wrapper:before {
    content: "";
    z-index: -1;
    background-color: #fbf5f1;
    width: 90%;
    max-width: 54.375rem;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #faq-2216 .cs-picture {
    aspect-ratio: 592 / 1059;
    width: 100%;
    max-width: 37rem;
    max-height: 46.1875rem;
    margin-top: 0;
    position: relative;
    top: calc(-1 * clamp(3.75rem, 7vw, 5rem));
  }
}

/*# sourceMappingURL=src_components_stitches_camp_faq-2216_faq-2216_css_2bef753f._.single.css.map*/