/* [project]/src/components/stitches/get-involved/pricing-1842/pricing-1842.css [client] (css) */
@media only screen and (width >= 0) {
  #pricing-1842 {
    padding: var(--sectionPadding);
    z-index: 1;
    background-color: #faf6f2;
    position: relative;
  }

  #pricing-1842:before {
    content: "";
    background: var(--primary);
    opacity: .03;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #pricing-1842 .cs-container {
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    position: relative;
  }

  #pricing-1842 .cs-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
  }

  #pricing-1842 .cs-topper {
    color: var(--primary);
  }

  #pricing-1842 .cs-title {
    max-width: none;
    margin: 0;
  }

  #pricing-1842 .cs-card-group {
    flex-flow: wrap;
    justify-content: center;
    gap: clamp(1rem, 2vw, 3.75rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
  }

  #pricing-1842 .cs-item {
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    background-color: #fff;
    border-radius: 30.625rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 25.8125rem;
    margin: 0;
    padding: clamp(3.75rem, 8vw, 5rem) clamp(2rem, 4vw, 2.5rem);
    list-style: none;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  #pricing-1842 .cs-item:before {
    content: "";
    background: var(--primary);
    opacity: .05;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #pricing-1842 .cs-item:after {
    content: "";
    border: 8px solid var(--primary);
    box-sizing: border-box;
    z-index: 10;
    pointer-events: none;
    border-radius: 30.625rem;
    display: block;
    position: absolute;
    inset: -1px;
  }

  #pricing-1842 .cs-item.cs-popular {
    background-color: var(--primary);
  }

  #pricing-1842 .cs-item.cs-popular:after {
    opacity: .7;
    border-color: #fff;
  }

  #pricing-1842 .cs-item.cs-popular .cs-ul:before {
    opacity: .7;
    background-color: #fff;
  }

  #pricing-1842 .cs-item.cs-popular .cs-package {
    background-color: #fff;
  }

  #pricing-1842 .cs-item.cs-popular .cs-price, #pricing-1842 .cs-item.cs-popular .cs-li {
    color: var(--bodyTextColorWhite);
  }

  #pricing-1842 .cs-item.cs-popular .cs-li.cs-disabled {
    filter: brightness(550%);
  }

  #pricing-1842 .cs-package {
    text-align: inherit;
    box-sizing: border-box;
    color: var(--secondary);
    z-index: 1;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 0 clamp(1rem, 2vw, 1.5rem);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2em;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  #pricing-1842 .cs-price {
    text-align: inherit;
    color: var(--headerColor);
    margin: 0;
    font-size: clamp(1.25rem, 2vw, 2rem);
    font-weight: 900;
    line-height: 1.2em;
  }

  #pricing-1842 .cs-ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: clamp(2rem, 4vw, 2.5rem) 0 auto;
    padding: 1.5rem 0 0;
    display: flex;
    position: relative;
  }

  #pricing-1842 .cs-ul:before {
    content: "";
    background: var(--primary);
    opacity: .3;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #pricing-1842 .cs-li {
    width: 100%;
    color: var(--bodyTextColor);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    list-style: none;
  }

  #pricing-1842 .cs-li.cs-disabled {
    opacity: .5;
  }

  #pricing-1842 .cs-button-solid {
    text-align: center;
    box-sizing: border-box;
    background-color: var(--primary);
    color: #fff;
    z-index: 1;
    border-radius: .25rem;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  #pricing-1842 .cs-button-solid:before {
    content: "";
    opacity: 1;
    z-index: -1;
    background: #000;
    border-radius: .25rem;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  #pricing-1842 .cs-button-solid:hover:before {
    width: 100%;
  }

  #pricing-1842 .cs-button-solid {
    border-radius: 3.75rem;
    margin-top: 2rem;
    padding: 0 3rem;
    overflow: hidden;
  }
}

@media only screen and (width >= 48rem) {
  #pricing-1842 .cs-item {
    width: 48%;
  }
}

@media only screen and (width >= 64rem) {
  #pricing-1842 .cs-card-group {
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=src_components_stitches_get-involved_pricing-1842_pricing-1842_css_2bef753f._.single.css.map*/