/* [project]/src/styles/globals.css [client] (css) */
:root {
  --primary: #71ae60;
  --secondary: #fec107;
  --secondarySemiTransparent: #fec107b3;
  --darkBackground: #414f65;
  --headerColor: #1a1a1a;
  --headerColorWhite: #fff;
  --bodyTextColor: #484848;
  --bodyTextColorWhite: #fafbfc;
  --primaryGreen: #556b41;
  --primaryRed: #9e442e;
  --corner-radius: 12px;
  --navColor: #d5d7b7;
  --topperFontSize: clamp(.8125rem, 1.6vw, 1rem);
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem);
  --fontBody: "Merriweather", serif;
  --fontHeader: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Merriweather, serif;
}

*, :before, :after {
  box-sizing: border-box;
}

.cs-topper {
  font-size: var(--topperFontSize);
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  color: var(--primary);
  font-weight: 700;
  line-height: 1.2em;
  font-family: var(--fontHeader);
  margin-bottom: .25rem;
  display: block;
}

.cs-title {
  font-weight: 900;
  font-family: var(--fontHeader);
  font-size: var(--headerFontSize);
  display: block;
}

.cs-text {
  font-size: var(--bodyFontSize);
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  color: var(--bodyTextColor);
  margin: 0;
  line-height: 1.5em;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.cs-button-solid {
  color: #000;
  background-color: var(--primary);
  z-index: 1;
  text-align: center;
  min-width: 9.375rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  font-family: var(--fontHeader);
  border: none;
  border-radius: 12px;
  margin: 0;
  padding: 0 1.5rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.cs-button-solid.secondary {
  background-color: var(--secondary);
}

.cs-button-solid:before {
  content: "";
  background: var(--secondary);
  opacity: 1;
  z-index: -1;
  border-radius: 12px;
  width: 0%;
  height: 100%;
  transition: width .3s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.cs-button-solid.secondary:before {
  background: #ec6345;
}

.cs-button-solid:hover:before {
  border-radius: 12px;
  width: 100%;
}

.cs-about-banner {
  aspect-ratio: 3837 / 620;
  width: 80%;
  position: relative;
  top: 60%;
  left: 50%;
  translate: -50% -50%;
}

.cs-banner {
  content: "";
  opacity: .9;
  background: #fff3ec;
  width: 100%;
  height: clamp(20rem, 40vw, 40rem);
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.cs-about-background {
  opacity: .15;
  z-index: -2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.cs-about-background img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.market-info-banner {
  background-color: var(--primaryGreen);
  color: var(--bodyTextColorWhite);
  font-size: var(--headerFontSize);
  justify-content: center;
  align-items: center;
  display: flex;
}

.bow-container {
  aspect-ratio: 455 / 428;
  height: 100%;
  min-height: clamp(100px, 100vw, 200px);
  position: relative;
}

.header {
  font-family: var(--fontHeader);
  color: var(--headerColor);
  font-size: var(--headerFontSize);
  text-align: inherit;
  text-align: center;
  background-color: #ec6e45;
  border-radius: 12px;
  justify-self: center;
  margin-top: 1rem;
  padding: 2rem;
  font-weight: 900;
  line-height: 1.2em;
}

.video-container {
  background-color: var(--primary);
  width: 100%;
  height: clamp(12rem, 60vw, 32rem);
}

.video {
  border: none;
  width: 100%;
  height: 100%;
}

.divider {
  background-color: var(--darkBackground);
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
}

.policy-section {
  text-align: center;
  background-color: var(--primary);
  width: 100%;
  padding: 2rem 0;
}

.policy-links {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

@media (width <= 767px) {
  .mobile {
    display: block;
  }

  .policy-links {
    flex-direction: column;
  }
}

/*# sourceMappingURL=src_styles_globals_css_2bef753f._.single.css.map*/