/* [project]/src/components/stitches/contact/contact-2320/contact-2320.css [client] (css) */
@media only screen and (width >= 0) {
  #contact-2320 {
    padding: var(--sectionPadding);
    z-index: 1;
    flex-direction: column;
    gap: clamp(3rem, 6vw, 4rem);
    display: flex;
    position: relative;
  }

  #contact-2320 .cs-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
    width: 100%;
    max-width: 36.25rem;
    margin: auto;
    display: flex;
  }

  #contact-2320 .cs-container2 {
    z-index: 1;
    background-color: var(--secondary);
    width: 100%;
    max-width: 36.25rem;
    margin: auto;
    padding: 5rem 3rem;
    position: relative;
  }

  #contact-2320 .cs-container3 {
    z-index: 1;
    background-color: var(--darkBackground);
    text-align: center;
    width: 100%;
    max-width: 36.25rem;
    margin: auto;
    padding: 5rem 3rem;
    position: relative;
  }

  #contact-2320 .light {
    color: var(--bodyTextColorWhite);
  }

  #contact-2320 .cs-link {
    color: var(--bodyTextColor);
  }

  #contact-2320 .cs-link.light {
    color: var(--bodyTextColorWhite);
  }

  #contact-2320 .cs-container2 .cs-topper {
    color: #fff;
  }

  #contact-2320 .cs-content {
    text-align: left;
  }

  #contact-2320 .cs-title {
    margin-bottom: 2rem;
  }

  #contact-2320 .cs-form {
    border-radius: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
    display: flex;
  }

  #contact-2320 .cs-label {
    width: 100%;
    color: var(--headerColor);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25rem;
    font-size: clamp(.875rem, 1.5vw, 1rem);
    display: flex;
  }

  #contact-2320 .cs-input {
    width: 100%;
    height: 3.5rem;
    color: var(--headerColor);
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: none;
    padding: 0 0 0 1.5rem;
    font-size: 1rem;
  }

  #contact-2320 .cs-input::placeholder {
    color: #7d799c;
    opacity: .6;
  }

  #contact-2320 .cs-textarea {
    min-height: 7.5rem;
    margin-bottom: .75rem;
    padding-top: 1.5rem;
    font-family: inherit;
  }

  #contact-2320 .cs-map {
    z-index: 1;
    width: 100%;
    max-width: 39.375rem;
    height: 25rem;
    display: block;
    position: relative;
  }

  #contact-2320 .cs-iframe-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: clamp(2.5rem, 5vw, 3.5rem);
    left: 0;
  }

  #contact-2320 .cs-iframe-wrapper iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contact-2320 .cs-box {
    z-index: 100;
    background-color: #fff;
    background-color: var(--secondary);
    align-items: flex-start;
    gap: .5rem;
    width: 90%;
    max-width: 28.125rem;
    padding: clamp(1rem, 3vw, 2rem) clamp(1rem, 2.4vw, 1rem);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #contact-2320 .cs-box:before {
    content: "";
    background: var(--primary);
    pointer-events: none;
    opacity: .1;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contact-2320 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }

  #contact-2320 .cs-flex {
    flex-direction: column;
    display: flex;
  }

  #contact-2320 .cs-header {
    color: var(--headerColor);
    margin: 0 0 .5rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  #contact-2320 .cs-address {
    color: var(--bodyTextColor);
    margin: 0;
    font-size: clamp(.75rem, 2.8vw, 1rem);
    line-height: 1.5em;
  }

  #contact-2320 .cs-hours {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  #contact-2320 .cs-info {
    width: 60%;
    max-width: 28ch;
    color: var(--bodyTextColor);
    font-size: clamp(1.5rem, 4vw, 2.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    font-family: var(--fontHeader);
    text-transform: uppercase;
    margin: 0;
  }

  #contact-2320 .cs-background {
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contact-2320 .cs-background:before {
    content: "";
    opacity: .72;
    z-index: 1;
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contact-2320 .cs-background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (width >= 64rem) {
  #contact-2320 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
    max-width: 80rem;
  }

  #contact-2320 .cs-container2 {
    max-width: 80rem;
  }

  #contact-2320 .cs-content {
    max-width: 32.625rem;
    padding: clamp(2rem, 5vw, 5rem) 0;
  }

  #contact-2320 .cs-title, #contact-2320 .cs-topper, #contact-2320 .cs-text {
    text-align: left;
    margin-left: 0;
  }

  #contact-2320 .cs-text {
    text-align: left;
  }

  #contact-2320 .cs-title {
    max-width: 32.625rem;
  }

  #contact-2320 .cs-services, #contact-2320 .cs-phone {
    width: 47%;
  }

  #contact-2320 .cs-map {
    order: -1;
    max-width: 39.375rem;
    height: auto;
  }
}

/*# sourceMappingURL=src_components_stitches_contact_contact-2320_contact-2320_css_2bef753f._.single.css.map*/