/* [project]/src/components/stitches/nav/header/nav/nav.css [client] (css) */
body, html {
  margin: 0;
  padding: 0;
}

@media only screen and (width <= 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }

  body.scroll #cs-navigation .cs-top-container {
    gap: 0;
  }

  body.scroll #cs-navigation .cs-top-social {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  #cs-navigation {
    box-sizing: border-box;
    z-index: 10000;
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: -100px;
    box-shadow: 0 8px 24px #959da533;
  }

  #cs-navigation:before {
    content: "";
    backdrop-filter: blur(10px);
    z-index: -1100;
    opacity: 0;
    background: #0009;
    width: 100%;
    height: 0;
    transition: height .5s, opacity .5s;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
  }

  #cs-navigation .cs-desktop-nav-actions {
    display: none;
  }

  #cs-navigation.cs-active:before {
    opacity: 1;
    height: 150vh;
  }

  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transition-delay: .15s;
    transform: scaleY(1);
  }

  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    transform: translateY(0);
  }

  #cs-navigation .cs-top-bar {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #cs-navigation .cs-top-container {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 0;
    display: flex;
  }

  #cs-navigation .cs-top-contact {
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2vw, 1.5rem);
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
  }

  #cs-navigation .cs-top-link {
    color: var(--bodyTextColor);
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-size: .875rem;
    line-height: 1.5em;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  #cs-navigation .cs-top-link:first-of-type, #cs-navigation .cs-top-link:last-of-type:after {
    display: none;
  }

  #cs-navigation .cs-top-link:after {
    content: "";
    opacity: 1;
    background: #bababa;
    width: 1px;
    height: 1.5rem;
    margin-left: clamp(.5rem, 1.5vw, 1rem);
    display: block;
    position: relative;
  }

  #cs-navigation .cs-link-icon {
    width: 1rem;
    height: auto;
    display: block;
  }

  #cs-navigation .cs-top-social {
    visibility: visible;
    opacity: 1;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 2rem;
    transition: opacity .3s, visibility .3s, height .3s;
    display: flex;
  }

  #cs-navigation .cs-social-link {
    background-color: #f7f7f7;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    display: flex;
  }

  #cs-navigation .cs-social-icon {
    opacity: .6;
    width: .75rem;
    height: auto;
    display: block;
  }

  #cs-navigation .cs-container {
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: clamp(1rem, 2.5vw, 1.25rem) 1rem;
    display: flex;
  }

  #cs-navigation .cs-logo {
    box-sizing: border-box;
    z-index: 10;
    order: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90%;
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
  }

  #cs-navigation .cs-logo img {
    object-fit: contain;
    width: auto;
    height: 100%;
  }

  #cs-navigation .cs-nav {
    order: 2;
  }

  #cs-navigation .cs-toggle {
    background-color: var(--primary);
    border: none;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    width: clamp(3rem, 7.2vw, 3.5rem);
    height: clamp(3rem, 7.2vw, 3.5rem);
    margin: 0 0 0 auto;
    transition: transform .6s;
    display: flex;
  }

  #cs-navigation .cs-toggle.cs-active {
    transform: rotate(180deg);
  }

  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%)rotate(225deg);
  }

  #cs-navigation .cs-active .cs-line2 {
    transform-origin: center;
    top: 50%;
    transform: translate(-50%, -50%)translateY(0)rotate(-225deg);
  }

  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }

  #cs-navigation .cs-box {
    width: clamp(1.5rem, 2vw, 1.75rem);
    height: 1rem;
    position: relative;
  }

  #cs-navigation .cs-line {
    background-color: #fafbfc;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #cs-navigation .cs-line1 {
    transform-origin: center;
    transition: transform .5s, top .3s, left .3s;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    top: 0;
  }

  #cs-navigation .cs-line2 {
    transition: top .3s, left .3s, transform .5s;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
  }

  #cs-navigation .cs-line3 {
    transition: bottom .3s, opacity .3s;
    bottom: 0;
  }

  #cs-navigation .cs-ul-wrapper {
    opacity: 0;
    z-index: -1;
    transform-origin: top;
    background-color: #fff;
    width: 100%;
    height: auto;
    transition: transform .4s, opacity .3s;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    transform: scaleY(0);
    box-shadow: inset 0 8px 24px #0003;
  }

  #cs-navigation .cs-ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    height: auto;
    max-height: 65vh;
    margin: 0;
    padding: 3rem 0 2rem;
    display: flex;
    overflow: scroll;
  }

  #cs-navigation .cs-li {
    text-align: center;
    opacity: 0;
    width: 100%;
    margin-right: 0;
    list-style: none;
    transition: transform .6s, opacity .9s;
    transform: translateY(-4.375rem);
  }

  #cs-navigation .cs-li:first-of-type {
    transition-delay: 50ms;
  }

  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: .1s;
  }

  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: .15s;
  }

  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: .2s;
  }

  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: .25s;
  }

  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: .3s;
  }

  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: .35s;
  }

  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: .4s;
  }

  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: .45s;
  }

  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: .5s;
  }

  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: .55s;
  }

  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: .6s;
  }

  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: .65s;
  }

  #cs-navigation .cs-li-link {
    color: var(--headerColor);
    margin: 0;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  #cs-navigation .cs-li-link.cs-active, #cs-navigation .cs-li-link:hover {
    color: var(--primary);
  }

  #cs-navigation .cs-button-solid {
    display: none;
  }

  #cs-navigation .cs-donate {
    order: 1;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    margin-right: 2rem;
    text-decoration: none;
    display: none;
  }

  #cs-navigation .cs-flex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  #cs-navigation .cs-donate-icon {
    width: 3.5rem;
    height: auto;
  }

  #cs-navigation .cs-desc {
    color: var(--bodyTextColor);
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
  }

  #cs-navigation .cs-header {
    color: var(--headerColor);
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
  }
}

@media only screen and (width >= 48rem) {
  #cs-navigation {
    top: -74px;
  }

  #cs-navigation .cs-top-container {
    border-bottom: 1px solid #e8e8e8;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  #cs-navigation .cs-top-contact {
    border: none;
    width: auto;
    padding: 0;
  }

  #cs-navigation .cs-donate {
    display: none;
  }
}

@media only screen and (width >= 64rem) {
  #cs-navigation {
    box-sizing: border-box;
    z-index: 10000;
    background-color: #fff;
    width: 100%;
    padding: 0;
    position: sticky;
    top: -74px;
    box-shadow: 0 8px 24px #959da533;
  }

  #cs-navigation .cs-top-bar {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  #cs-navigation .cs-top-container {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    width: 100%;
    max-width: 107.5rem;
    padding: 1rem;
    display: flex;
  }

  #cs-navigation .cs-top-contact {
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    display: flex;
  }

  #cs-navigation .cs-top-link {
    color: var(--bodyTextColor);
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-size: .875rem;
    line-height: 1.5em;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  #cs-navigation .cs-top-link:hover {
    text-decoration: underline;
  }

  #cs-navigation .cs-top-link:last-of-type:after {
    display: none;
  }

  #cs-navigation .cs-top-link:after {
    content: "";
    opacity: 1;
    background: #bababa;
    width: 1px;
    height: 1.5rem;
    margin-left: clamp(.5rem, 1.5vw, 1rem);
    display: block;
    position: relative;
  }

  #cs-navigation .cs-link-icon {
    width: 1rem;
    height: auto;
    display: block;
  }

  #cs-navigation .cs-top-social {
    justify-content: center;
    align-items: center;
    gap: .5rem;
    display: flex;
  }

  #cs-navigation .cs-social-link {
    background-color: #f7f7f7;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    transition: background-color .3s;
    display: flex;
  }

  #cs-navigation .cs-social-link:hover {
    background-color: var(--secondary);
  }

  #cs-navigation .cs-social-icon {
    opacity: .6;
    width: .75rem;
    height: auto;
    display: block;
  }

  #cs-navigation .cs-container {
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 107.5rem;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    position: sticky;
    top: -20px;
  }

  #cs-navigation .cs-toggle {
    display: none;
  }

  #cs-navigation .cs-logo {
    z-index: 100;
    justify-content: center;
    align-items: center;
    max-width: 12.3125rem;
    height: 90%;
    margin: 0 auto 0 0;
    padding: 0 2rem;
    display: flex;
  }

  #cs-navigation .cs-logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  #cs-navigation .cs-ul {
    justify-content: flex-start;
    align-items: center;
    gap: clamp(1.5rem, 2vw, 5rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }

  #cs-navigation .cs-li {
    flex: none;
    padding: 2.25rem 0;
    list-style: none;
  }

  #cs-navigation .cs-li-link {
    color: var(--bodyTextColor);
    margin: 0;
    font-size: clamp(.875rem, 1.3vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    transition: color .3s;
    display: block;
    position: relative;
  }

  #cs-navigation .cs-li-link:hover {
    color: var(--primary);
  }

  #cs-navigation .cs-li-link.cs-active {
    color: var(--headerColor);
    font-weight: 700;
  }

  #cs-navigation .cs-donate {
    justify-content: center;
    align-items: center;
    gap: .75rem;
    text-decoration: none;
    display: none;
  }

  #cs-navigation .cs-donate:hover .cs-donate-icon {
    transform: scale(1.1);
  }

  #cs-navigation .cs-flex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  #cs-navigation .cs-donate-icon {
    width: 3.5rem;
    height: auto;
    transition: transform .3s;
  }

  #cs-navigation .cs-desc {
    color: var(--bodyTextColor);
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
  }

  #cs-navigation .cs-header {
    color: var(--headerColor);
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
  }

  #cs-navigation .cs-button-solid {
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    z-index: 1;
    box-sizing: border-box;
    border-radius: .5rem;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    transition: color .3s;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  #cs-navigation .cs-button-solid:before {
    content: "";
    opacity: 1;
    z-index: -1;
    background: #1a1a1a;
    border-radius: .5rem;
    width: 0%;
    height: 100%;
    transition: width .3s;
    position: absolute;
    top: 0;
    left: 0;
  }

  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }

  #cs-navigation .cs-nav-button {
    padding: 0 3rem;
    display: none;
  }
}

@media only screen and (width >= 81.25rem) {
  #cs-navigation .cs-container {
    justify-content: space-between;
    position: sticky;
    top: 0;
  }

  #cs-navigation .cs-ul {
    gap: clamp(1.5rem, 2.5vw, 2.5rem);
  }
}

@media only screen and (width >= 100rem) {
  #cs-navigation .cs-desktop-nav-actions {
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    display: flex;
  }

  #cs-navigation .non-desktop {
    display: none;
  }

  #cs-navigation .cs-donate {
    margin-left: auto;
    display: flex;
  }

  #cs-navigation .cs-nav-button {
    margin: 0 0 0 auto;
    display: block;
  }
}

/*# sourceMappingURL=src_components_stitches_nav_header_nav_nav_css_2bef753f._.single.css.map*/