/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#services-1168 {
		background-color: var(--primary);
		padding: var(--sectionPadding);
	}
	#services-1168 .cs-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		/* changes to 1440px at large desktop */
		max-width: calc(824 / 16 * 1rem);
		width: 100%;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#services-1168 .cs-content {
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
		/* set text align to left if content needs to be left aligned */
		background-color: var(--secondary);
		text-align: center;
		border-radius: 12px;
		padding: 1rem 4rem;
	}

	#services-1168 .cs-title {
		font-weight: 700;
		font-size: calc(var(--headerFontSize) * 0.75);
		margin-top: 0;
	}
	#services-1168 .cs-card-group {
		display: grid;
		align-items: stretch;
		grid-template-columns: repeat(12, 1fr);
		margin: 0;
		width: 100%;
		padding: 0;
		/* 16px - 20px */
		gap: clamp(1rem, 2vw, 1.25rem);
	}
	#services-1168 .cs-item {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: #f7f7f7;
		width: 100%;
		list-style: none;
		text-align: left;
		grid-column: span 12;
	}

	#services-1168 .cs-picture {
		position: relative;
		display: block;
		/* 180px - 240px */
		height: clamp(11.25rem, 24vw, 15rem);
		width: 100%;
		overflow: hidden;
	}
	#services-1168 .cs-picture img {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transition: transform 0.65s;
	}
	#services-1168 .cs-info {
		display: flex;
		flex-direction: column;
		padding: calc(24 / 16 * 1rem);
	}
	#services-1168 .cs-h3 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		/* 20px - 25px */
		font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
		line-height: 1.5em;
		font-weight: 700;
		color: var(--headerColor);
		transition: background-color 0.3s;
		text-align: inherit;
		margin: 0 0 calc(12 / 16 * 1rem) 0;
		transition: color 0.3s;
	}
	#services-1168 .cs-item-text {
		width: 100%;
		/* prevents padding and border from affecting height and width */
		box-sizing: border-box;
		font-size: clamp(0.875rem, 1.5vw, 1rem);
		line-height: 1.5em;
		color: var(--bodyTextColor);
		text-align: inherit;
		margin: 0;
	}
	#services-1168 .cs-link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		font-size: calc(16 / 16 * 1rem);
		line-height: 1.2em;
		font-weight: 700;
		color: var(--headerColor);
		text-align: inherit;
		margin-top: calc(20 / 16 * 1rem);
		transition: color 0.3s;
	}

	#services-1168 .cs-arrow {
		filter: grayscale(1) brightness(0);
		display: block;
		height: auto;
		width: calc(20 / 16 * 1rem);
		transition: filter 0.3s, transform 0.3s;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#services-1168 .cs-item {
		grid-column: span 6;
	}
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
	#services-1168 .cs-container {
		max-width: calc(1440 / 16 * 1rem);
	}
	#services-1168 .cs-item {
		grid-column: span 3;
	}
}
