/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#services-2198 {
		padding: var(--sectionPadding);
		background-color: #fdfaf8;
		position: relative;
	}
	#services-2198 .cs-container {
		width: 100%;
		/* changes to 1280px at tablet */
		max-width: 44rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#services-2198 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
	}
	#services-2198 .cs-title {
		margin: 0;
	}
	#services-2198 .cs-card-group {
		width: 100%;
		max-width: 25rem;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		row-gap: 2rem;
	}
	#services-2198 .cs-item {
		list-style: none;
		width: 100%;
		display: flex;
		flex-direction: column;
		grid-column: span 12;
	}

	#services-2198 .cs-link {
		text-align: center;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#services-2198 .cs-picture {
		width: 100%;
		/* 240px - 340px */
		height: clamp(13rem, 26vw, 18.25rem);
		margin-bottom: 2.75rem;
		display: flex;
		justify-content: center;
		position: relative;
	}
	#services-2198 .cs-picture::before {
		content: "";
		width: 100%;
		height: 1.25rem;
		margin: 0 2rem;
		background-color: var(--primary);
		display: block;
		position: relative;
		top: 100%;
		bottom: 0;
		z-index: 10;
		transition: background-color 0.3s;
	}
	#services-2198 .cs-picture .picture-2 {
		object-position: 20% 20%;
	}
	#services-2198 .cs-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 0.6s, opacity 0.3s;
	}
	#services-2198 .cs-flex {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	#services-2198 .cs-number {
		/* 49px - 72px */
		font-size: 3rem;
		font-weight: 900;
		line-height: 1.2em;
		text-align: inherit;
		margin: 0;
		color: var(--primary);
		opacity: 0.2;
		position: absolute;
		z-index: 0;
	}
	#services-2198 .cs-h3 {
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.2em;
		margin: 0 0 1.25rem 0;
		color: var(--headerColor);
		z-index: 1;
	}
	#services-2198 .cs-item-text {
		font-size: 1rem;
		line-height: 1.5em;
		margin: 0;
		color: var(--bodyTextColor);
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#services-2198 .cs-container {
		max-width: 80rem;
	}
	#services-2198 .cs-card-group {
		max-width: none;
		/* 16px - 20px */
		column-gap: clamp(1rem, 2.5vw, 1.25rem);
	}
	#services-2198 .cs-item {
		grid-column: span 4;
	}
	#services-2198 .cs-picture {
		margin-bottom: 3.25rem;
	}
}
