/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#sbsr-2181 {
		padding: 2rem 0;
		overflow: hidden;
		position: relative;
		z-index: 1;
		background-color: var(--darkBackground);
	}
	#sbsr-2181 .cs-topper {
		color: var(--headerColor);
	}
	#sbsr-2181 .cs-container {
		width: 100%;
		max-width: 80em;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;
	}
	#sbsr-2181 .cs-content {
		text-align: left;
		width: auto;
		max-width: 46.125rem;
		margin: 0 1rem;
		margin-top: -5rem;
		/* prevents padding from affecting width and height */
		box-sizing: border-box;
		/* 24px - 60px top and bottom */
		/* 24px - 60px left and right */
		padding: clamp(1.5rem, 5vw, 3.75rem);
		background-color: #f9f9f8;
		/* clips the pseudo element */
		overflow: hidden;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: flex-start;
		position: relative;
		z-index: 10;
		border-radius: 8px;
	}
	#sbsr-2181 .cs-text {
		margin-bottom: 1rem;
	}
	#sbsr-2181 .cs-text:last-of-type {
		margin-bottom: 2rem;
	}
	#sbsr-2181 .cs-button-transparent {
		font-size: 1rem;
		font-weight: 700;
		/* 46px - 56px */
		line-height: clamp(2.875rem, 5.5vw, 3.5rem);
		text-align: center;
		text-decoration: none;
		min-width: 11.25rem;
		margin: 0;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
		padding: 0 1.5rem;
		color: var(--headerColor);
		border: 1px solid var(--headerColor);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		position: relative;
		z-index: 1;
		transition: color 0.3s;
	}
	#sbsr-2181 .cs-button-transparent:before {
		content: "";
		width: 0%;
		height: 100%;
		background: #000;
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: width 0.3s;
	}
	#sbsr-2181 .cs-button-transparent:hover {
		color: var(--bodyTextColorWhite);
	}
	#sbsr-2181 .cs-button-transparent:hover:before {
		width: 100%;
	}
	#sbsr-2181 .cs-button-transparent .cs-button-icon {
		width: 1.25rem;
		height: auto;
		display: block;
	}
	#sbsr-2181 .cs-button-box {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 1rem;
	}
	#sbsr-2181 .cs-button-play {
		font-size: 1rem;
		font-weight: 700;
		text-decoration: none;
		/* 46px - 56px */
		height: clamp(2.875rem, 5.5vw, 3.5rem);
		color: var(--headerColor);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.625rem;
		position: relative;
		transition: color 0.3s;
	}
	#sbsr-2181 .cs-wrapper {
		/* 46px - 56px */
		width: clamp(2.875rem, 5.5vw, 3.5rem);
		height: clamp(2.875rem, 5.5vw, 3.5rem);
		background-color: var(--primary);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		order: -1;
	}
	#sbsr-2181 .cs-button-icon {
		width: 0.875rem;
		height: auto;
		display: block;
	}
	#sbsr-2181 .cs-picture {
		width: 100%;
		aspect-ratio: 1621/1108;
		/* clips the img corners */
		overflow: hidden;
		display: block;
		/* sends it to the top */
		order: -1;
		position: relative;
	}
	#sbsr-2181 .cs-picture img {
		width: 100%;
		object-fit: cover;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	#sbsr-2181 .cs-floater {
		/* chnages on tablet */
		width: 12.5rem;
		height: auto;
		position: absolute;
		right: -2.5rem;
		bottom: -1.25rem;
		z-index: 10;
		transform: rotate(90deg);
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#sbsr-2181 {
		padding: var(--sectionPadding);
	}
	#sbsr-2181 .cs-container {
		justify-content: center;
		align-items: flex-start;
		position: relative;
	}

	#sbsr-2181 .cs-button-play {
		padding-right: 1.5rem;
	}

	#sbsr-2181 .cs-button-play:before {
		content: "";
		/* 46px - 56px */
		width: clamp(2.875rem, 5.5vw, 3.5rem);
		height: clamp(2.875rem, 5.5vw, 3.5rem);
		background: var(--primary);
		opacity: 1;
		border-radius: 3.75rem;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
		transition: width 0.3s;
	}
	#sbsr-2181 .cs-button-play:hover {
		color: var(--bodyTextColorWhite);
	}
	#sbsr-2181 .cs-button-play:hover:before {
		width: 100%;
	}

	#sbsr-2181 .cs-floater {
		width: 30%;
		max-width: 18.875rem;
		right: 0;
		bottom: 0;
		transform: none;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#sbsr-2181 .cs-content {
		width: 50%;
		margin: 0;
	}
	#sbsr-2181 .cs-picture {
		/* 404px - 742px */
		width: 55%;
		height: auto;
		position: absolute;
		bottom: 3.75rem;
		right: 0;
		bottom: 0;
	}
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
	#sbsr-2181 .cs-content {
		margin-bottom: 10.625rem;
	}
}
