/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#cta-697 {
		padding: calc(var(--sectionPadding) * 0.5);
		background-color: var(--primary);
		position: relative;
		z-index: 1;
	}
	#cta-697 .cs-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* 48px - 64px */
		gap: clamp(3rem, 6vw, 4rem);
	}
	#cta-697 .cs-content {
		/* set text align to left if content needs to be left aligned */
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		/* centers content horizontally, set to flex-start to left align */
		align-items: center;
		/* 48px - 64px */
	}
	#cta-697 .cs-title {
		color: var(--bodyTextColor);
		font-weight: 700;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#cta-697 .cs-content {
		text-align: left;
		justify-content: space-between;
		gap: 0;
	}
	#cta-697 .cs-title {
		margin-top: 0;
	}
}
